  .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.revenue {
  color: gray;
  float: right;
  font-size: 200%;
  padding-top: 15px;
}
.customerName {
  font-size: 200%;
}
.differenceRed {
  color: red;
}
.differenceGreen {
  color: green;
}
.renewal {
  padding-top: 15px;
  display: inline-block;
}

.Center {
  text-align: center;
 display: block;
}
.marginTop10 {
	margin-top: 10px;
}
.padding10 {
  padding: 10px;
}
.marginBot10 {
  margin-bottom: 10px;
}
.myButton {
  width: 50px;
}
