<div class="row">
	<!--span class="Fleft"><a (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a></span-->
	<span class="col-xs-12 Center FontBold">Customer Details</span>
	<div class="SeparatorFull" style="border-color: darkgray;"></div>
</div>


<div class="Fs50 FontBold BoldGray">{{customer.name}}</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect">
	<h2 class="CardTopic BorderBottom" style="font-weight:bold;">{{ (user.role === 'Customer'
? 'Current subscription cost':'Current Revenue')}} <span class="Fright FontBold">{{customer.revenue}}</span></h2>
	<div class="EmptyBox5"></div>
	<div [class.Orange]="customer.expiry < 60" class="Container100 FontRobotoLight">Subscription expires in <span class="FontBold"> {{customer.expiry}} </span> days</div>
	<div *ngIf="nonCustomer()">
		<div class="Container60">
			<div class="EmptyBox10"></div>
			<div class="FontRobotoRegular Fs18">Projected revenue on renewal: </div>
		</div>
		<div class="Container40 FontRobotoRegular"><span [class.Green]="customer.difference > -1" [class.Orange]="customer.difference < 0" class="Fs50 FontRobotoLight FontBold Fright">{{customer.difference}}</span></div>
	</div>
</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect White " [class.OrangeBack]="needsAction()" [class.GreenBack]="! needsAction()">
	<h2 class="CardTopic White BorderBottom" style="font-weight:bold;">{{customer.status}} plan
		<span *ngIf="needsAction()" class="Fright badge RedBack Fs18 FontRobotoLight" style="font-weight:normal;">Needs your action</span> </h2>
	<div class="EmptyBox5"></div>
	<div *ngIf="customer.status == null" class="Container100 FontRobotoLight">No plan has been proposed yet.</div>
	<div *ngIf="customer.status">
		<div class="Container60">
			<div class="EmptyBox10"></div>
			<div class="FontRobotoRegular Fs18">{{ (user.role === 'Customer' ? 'Proposed subscription cost':'Projected revenue for proposed plan:')}} </div>
		</div>
		<div class="Container40 FontRobotoRegular Red"><span [class.White]="(customer.newPlanDifference > -1)" class="Fs50 FontRobotoLight Fright">{{ (customer.newPlanDifference
	<0? '': '+') + customer.newPlanDifference }}</span></div>
		<div *ngIf="! nonCustomer()" class="FontRobotoRegular">Total <h2 class="CardTopic Fright" style="font-weight: bold;">$ {{customer.revenue + customer.newPlanDifference}}</h2> </div>
	</div>
	<div class="EmptyBox10"></div>
	<button *ngIf='displayPlanButton()' class="Fright GrayButton RaisedButton" id="Plan" pButton type="button" (click)="newPlan()" icon="fa-pencil" label="{{getPlanButtonLabel()}}"></button>

</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect" *ngIf="displayUpdates()">
	<h2 class="CardTopic" style="font-weight:bold; padding-bottom: 0px;">Updates </h2>
	<div *ngFor="let m of messages">
		<div class="Separator"> </div>
		<div class="EmptyBox5"></div>
		<div class="FontRobotoRegular {{getMessageColorClass(m)}}">{{m.role}}: {{m.event}} </div>
		<div class="EmptyBox5"></div>
		<div class="Container100 FontRobotoLight Fs18"> {{m.description}} <span class="FontRobotoLight Fs16"> - 14 hours ago by {{m.user}}</span></div>
		<div class="EmptyBox5"></div>
	</div>
</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect">
	<h2 class="CardTopic" style="font-weight:bold; padding-bottom: 0px;">Current subscription</h2>
	<div *ngFor="let p of products">
		<div class="Separator"> </div>
		<div class="EmptyBox5"></div>
		<div class="Container60">
			<span class="LeadenGreen "> {{p.name}} </span> <span class="Fs18">({{p.count}})</span>
			<br/> <span class="FontRobotoLight Fs18">{{p.description}}</span>
		</div>
		<div class="Container40">
			<div class="EmptyBox5"></div><span class="Fright">{{p.price}}</span></div>
		<div class="EmptyBox5"></div>
	</div>
</div>
<div class="EmptyBox10"></div>
