hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Bold {
  font-weight: bold;
}
.red {
  color: red;
}
.revenue {
  color: gray;
  float: right;
  font-size: 200%;
  padding-top: 15px;
}
.customerName {
  font-size: 200%;
}
.Red {
  color: red;
}
.Green {
  color: green;
}
.renewal {
  padding-top: 15px;
  display: inline-block;
}
.FRight {
  float: right;
}
.FLeft {
  float: left;
}
.Center {
  text-align: center;
 display: block;
}
.marginTop10 {
	margin-top: 10px;
}
.padding10 {
  padding: 10px;
}
.marginBot10 {
  margin-bottom: 10px;
}
.myButton {
  width: 50px;
}
