<div class="row">
	<span class="Fleft"><a (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a></span>
	<span class="col-xs-12 Center FontBold">{{ (customer.status
? 'Modify '+ customer.status + ' Solution':'Review and Submit your New Soltuion')}} </span>
	<div class="SeparatorFull" style="border-color: darkgray;"></div>
</div>


<div class="Fs50 FontBold BoldGray">{{customer.name}}</div>
<div class="EmptyBox10"></div>
<div class="Card ShadowEffect LeadenGreenBack White">
	<h2 class="CardTopic Fs22 White BorderBottom " style="font-weight:bold;">{{customer.status? customer.status: 'New' }} Solution <span class="FontRobotoLight Fright" [class.Red]="(customer.newPlanDifference < 0)" [class.White]="(customer.newPlanDifference > -1)" >{{ (customer.newPlanDifference
<0? '': '+') + (customer.newPlanDifference  | currency:'USD':true:'1.0-0') }}</span> </h2>
	<div class="EmptyBox5"></div>
	<div class="Container50">
		<div class="EmptyBox10"></div>
		<div class="FontRobotoLight Fs18">{{ (user.role === 'Customer' ? customer.status + ' solution cost':'Expected revenue from the solution:')}} </div>
	</div>
	<div class="Container50 FontRobotoLight Fs50">
			<div class="EmptyBox10"></div>
		<span class="Fright">{{(customer.revenue  + customer.newPlanDifference) | currency:'USD':true:'1.0-0'}}</span></div>
	<div class="EmptyBox10"></div>
</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect">
	<h2 class="CardTopic Fs22" style="font-weight:bold; padding-bottom: 0px;">Solution details
		<button class="Fright RaisedButton" *ngIf="nonCustomer()" id="Plan" pButton type="button" (click)="modify()" icon="fa-pencil"></button>
		<div class="EmptyBox5"></div></h2>
	<div *ngFor="let p of newProducts">
		<div *ngIf="p.count > 0">
			<div class="Separator"> </div>
			<div class="EmptyBox5"></div>
			<div class="Container60">
				<span class="LeadenGreen "> {{p.name}} </span> <span class="Fs18">({{p.count}})</span>
				<br/> <span class="FontRobotoLight Fs18">{{p.description}}</span>
			</div>
			<div class="Container40">
				<div class="EmptyBox5"></div><span class="Fright">{{p.price | currency:'USD':true:'1.0-0'}}</span></div>
			<div class="EmptyBox5"></div>
		</div>
	</div>
</div>
<div class="EmptyBox10"></div>

<div class="Card ShadowEffect White" *ngIf="! acceptedAndCustomer()">
	<div class="Container100 Responsive100">
		<div class="ContainerIndent">
			<p-dropdown [options]="actions" [(ngModel)]="selectedAction" [autoWidth]="false"></p-dropdown>
			<textarea pInputTextarea [(ngModel)]="comment" placeholder="Your Message" rows="5" style="    background-color: #E0E0E0; width: 80%;     border-radius: 3px;"></textarea>
			<div class="EmptyBox5"></div>
			<button id="submitPlan" class="Fright RaisedButton" pButton type="button" (click)="submitPlan()" icon="fa-check" label="{{selectedAction}}"></button>
		</div>
	</div>
</div>
<div class="EmptyBox10"></div>
