<div class="container">
	<h1>Customers Plan</h1>
	
	<p-accordion>
		<p-accordionTab *ngFor="let category of categories" header="{{category.name}}">
			<div *ngFor="let product of products">
				<div *ngIf="product.categoryId == category.id" class="row" style="margin-top:10px;">
					<div class="col-xs-7" [class.bold]="product.count > 0">{{product.name}} <br/> <span style="font-size: 90%;"> </span></div>
					<div class="input-group" style="margin-right:10px">
						<span class="input-group-btn">
							<button type="button" (click)="deSelect(product)" class="btn btn-danger btn-number" data-type="minus">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						</span>
						<input type="text" class="form-control input-number" (change)="recalculate()" [(ngModel)]="product.count" value="{{product.count}}">
						<span class="input-group-btn">
							<button type="button" (click)="select(product)" class="btn btn-success btn-number" data-type="plus">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</p-accordionTab>
	</p-accordion>
	<div class="row" style="margin-top:10px;">
		<div style="text-align: right;">Initial earnings: {{initialPrice}}</div>
		<div style="text-align: right;">Planned earnings: {{plannedPrice}}</div>
		<div style="text-align: right;">Difference: {{plannedPrice - initialPrice}}</div>
	</div>
</div>