<div class="container">
	<h1>Customers Plan</h1>
	
	<p-accordion>
		<p-accordionTab *ngFor="let category of categories" header="{{category.name}}">
			<div *ngFor="let product of products">
				<div *ngIf="product.categoryId == category.id" class="row" style="margin-top:10px;">
					<div class="col-xs-8" [class.bold]="product.count > 0">{{product.name}} <br/> <span style="font-size: 90%;"> </span></div>
					<div style="text-align: right;">
						<p-commandLink (click)="deSelect(product)"><span class="miniButtonRed">-</span></p-commandLink>
						
						{{product.count}}
						
						<p-commandLink (click)="select(product)"><span class="miniButtonGreen">+</span></p-commandLink>
					</div>
				</div>
			</div>
		</p-accordionTab>
	</p-accordion>
	<div class="row" style="margin-top:10px;">
		<div style="text-align: right;">Initial earnings: {{initialPrice}}</div>
		<div style="text-align: right;">Planned earnings: {{plannedPrice}}</div>
		<div style="text-align: right;">Difference: {{plannedPrice - initialPrice}}</div>
	</div>
</div>