h4 {
	color: gray;
	float: right;
}


.marginTop10 {
	margin-top: 10px;
}

.duedate {
	    color: red;
}

.selected {
	background-color:#eeffee;
	
}

.bold {
	font-weight: bold;
}

.dynamicColumn{
    width:auto;
    overflow:hidden;
	height:30px;
	vertical-align;top;
}

.staticColumn40 {
    width:100px;
    float:right;
	height:30px;
	vertical-align;top;
}